SimpleServer/.vs
SimpleServer/Binaries
SimpleServer/Intermediate
SimpleServer/Saved
SimpleServer/SimpleServer.sln
SimpleServer/.vsconfig
SimpleServer/Content/StarterContent
SimpleServer/Content/AddContent
